In [ ]:
https://www.freecodecamp.org/news/how-to-combine-multiple-csv-files-with-8-lines-of-code-265183e0854/

In [3]:
import pandas as pd
import glob
import os
os.chdir("/Users/jskif/OneDrive/Documents/CBS/TechLabs/Re-valuation-modelling/")

In [ ]:
#load csv as extension, format all files as csv nad concatenate as combined_csv
extension = 'csv'
all_filenames = [i for i in glob.glob('*.{}'.format(extension))]

combined_csv = pd.concat([pd.read_csv(f) for f in all_filenames])

#save as _____
combined_csv.to_csv("combined_csv1", index=False, encoding='utf-8-sig')

In [4]:
#Read in saved concatenated file
total = pd.read_csv("data_11_11_after_elimination.csv")

In [3]:
#delete links link column
del total['links_link']

# Combine cleaned data with elimination with new ~500 entries

In [5]:
#read in additional ~500 entries
totala = pd.read_csv("Additional_data_11_12.csv")

In [20]:
total.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1645 entries, 0 to 1644
Data columns (total 31 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Unnamed: 0                        1645 non-null   int64
 1   links_Appartment_url              1645 non-null   object
 2   links_Appartment_Name             1645 non-null   object
 3   links_Appartment_Address          1645 non-null   object
 4   links_Appartment_Boligtype        1645 non-null   object
 5   links_Appartment_Rooms            1645 non-null   int64
 6   links_Appartment_Floor            1645 non-null   object
 7   links_Appartment_Furnished        1645 non-null   object
 8   links_Appartment_Shareable        1645 non-null   object
 9   links_Appartment_Pets_allowed     1645 non-null   object
 10  links_Appartment_Rent_period      1645 non-null   object
 11  links_Appartment_Take_over_date   1645 non-null   object
 12  links_Appartment_Rent_monthly     1645 non-null   int64
 13  links_Appartment_Deposit          1645 non-null   object
 14  links_Appartment_Occupancy_price  1645 non-null   object
 15  links_Appartment_Aconto           1645 non-null   float64
 16  links_Appartment_First_rent       1645 non-null   object
 17  links_Appartment_Description      1645 non-null   object
 18  links_Appartment_sqm              1645 non-null   int64
 19  links_rent_aconto_monthly         1645 non-null   float64
 20  latitude                          1645 non-null   float64
 21  longitude                         1645 non-null   float64
 22  distance to CBS                   1645 non-null   float64
 23  links_image1_url                  1645 non-null   object
 24  links_image2_url                  1645 non-null   object
 25  links_image3_url                  1645 non-null   object
 26  Bedrooms                          1645 non-null   int64
 27  Price_per_bedroom                 1645 non-null   int64
 28  Price_score                       1645 non-null   int64
 29  CBS_distance_score                1645 non-null   int64
 30  short_adress                      1645 non-null   object
dtypes: float64(5), int64(8), object(18)
memory usage: 398.5+ KB

In [14]:
total.head()

,Unnamed: 0,links_Appartment_url,links_Appartment_Name,links_Appartment_Address,links_Appartment_Boligtype,links_Appartment_Rooms,links_Appartment_Floor,links_Appartment_Furnished,links_Appartment_Shareable,links_Appartment_Pets_allowed,...,latitude,longitude,distance to CBS,links_image1_url,links_image2_url,links_image3_url,Bedrooms,Price_per_bedroom,Price_score,CBS_distance_score
0,0,https://www.boligportal.dk/lejebolig/dp/4-vaer...,4 værelses lejlighed på 126,"Nordre Frihavnsgade, 2100 København Ø - 3. sal",Lejlighed,4,3. sal,Nej,Nej,Nej,...,55.700814,12.579806,4.136997,https://images-cdn.boligportal.dk/prod/public/...,https://images-cdn.boligportal.dk/prod/public/...,https://images-cdn.boligportal.dk/prod/public/...,3,5966,2,2
1,1,https://www.boligportal.dk/lejebolig/dp/4-vaer...,5 værelses lejlighed på 108,"Richard Mortensens Vej, 2300 København S - 4. sal",Lejlighed,5,4. sal,Nej,Nej,Ja,...,55.618153,12.570764,7.659486,https://images-cdn.boligportal.dk/prod/public/...,https://images-cdn.boligportal.dk/prod/public/...,https://images-cdn.boligportal.dk/prod/public/...,3,5766,2,1
2,2,https://www.boligportal.dk/lejebolig/dp/4-vaer...,4 værelses lejlighed på 152,"Ved Stigbordene, 2450 København SV - 6. sal",Lejlighed,4,6. sal,Nej,Nej,Nej,...,55.644658,12.546846,4.362046,https://images-cdn.boligportal.dk/prod/public/...,https://images-cdn.boligportal.dk/prod/public/...,https://images-cdn.boligportal.dk/prod/public/...,3,8865,0,2
3,3,https://www.boligportal.dk/lejebolig/dp/4-vaer...,4 værelses lejlighed på 113,"Lone Kellermanns Vej, 2450 København SV - 3. sal",Lejlighed,4,3. sal,Nej,Nej,Ja,...,55.645182,12.547530,4.321976,https://images-cdn.boligportal.dk/prod/public/...,https://images-cdn.boligportal.dk/prod/public/...,https://images-cdn.boligportal.dk/prod/public/...,3,5391,2,2
4,4,https://www.boligportal.dk/lejebolig/dp/4-vaer...,4 værelses lejlighed på 118,"Ved Stigbordene, 2450 København SV - 4. sal",Lejlighed,4,4. sal,Nej,Nej,Nej,...,55.644658,12.546846,4.362046,https://images-cdn.boligportal.dk/prod/public/...,https://images-cdn.boligportal.dk/prod/public/...,https://images-cdn.boligportal.dk/prod/public/...,3,6076,1,2

In [15]:
total['short_adress'] = total.links_Appartment_Address.str.split('-').str[0]

In [17]:
total.short_adress

0          Nordre Frihavnsgade, 2100 København Ø
1       Richard Mortensens Vej, 2300 København S
2             Ved Stigbordene, 2450 København SV
3        Lone Kellermanns Vej, 2450 København SV
4             Ved Stigbordene, 2450 København SV
                          ...
1640       Robert Jacobsens Vej, 2300 København S
1641              Købmagergade, 1150 København K
1642              Købmagergade, 1150 København K
1643           Hannemanns Allé, 2300 København S
1644          Vestre Teglgade, 2450 København SV
Name: short_adress, Length: 1645, dtype: object

In [25]:
totala.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 543 entries, 0 to 542
Data columns (total 31 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Unnamed: 0                        543 non-null    int64
 1   links_Appartment_url              543 non-null    object
 2   links_Appartment_Name             543 non-null    object
 3   links_Appartment_Address          543 non-null    object
 4   links_Appartment_Boligtype        543 non-null    object
 5   links_Appartment_Rooms            543 non-null    int64
 6   links_Appartment_Floor            543 non-null    object
 7   links_Appartment_Furnished        543 non-null    object
 8   links_Appartment_Shareable        543 non-null    object
 9   links_Appartment_Pets_allowed     543 non-null    object
 10  links_Appartment_Rent_period      543 non-null    object
 11  links_Appartment_Take_over_date   543 non-null    object
 12  links_Appartment_Rent_monthly     543 non-null    int64
 13  links_Appartment_Deposit          543 non-null    object
 14  links_Appartment_Occupancy_price  543 non-null    object
 15  links_Appartment_Aconto           543 non-null    int64
 16  links_Appartment_First_rent       543 non-null    object
 17  links_Appartment_Description      543 non-null    object
 18  links_image1_url                  543 non-null    object
 19  links_image2_url                  543 non-null    object
 20  links_image3_url                  543 non-null    object
 21  short_adress                      543 non-null    object
 22  latitude                          543 non-null    float64
 23  longitude                         543 non-null    float64
 24  distance to CBS                   543 non-null    float64
 25  Bedrooms                          543 non-null    int64
 26  links_rent_aconto_monthly         543 non-null    int64
 27  Price_per_bedroom                 543 non-null    int64
 28  Price_score                       543 non-null    int64
 29  CBS_distance_score                543 non-null    int64
 30  links_Appartment_sqm              543 non-null    object
dtypes: float64(3), int64(9), object(19)
memory usage: 131.6+ KB

In [21]:
totala['links_Appartment_Name'] = totala['links_Appartment_Name'].str.rstrip(' m²')
totala['links_Appartment_sqm'] = totala['links_Appartment_Name'].str[::-1].str.extract('(\d+)')
totala['links_Appartment_sqm'] = totala['links_Appartment_sqm'].str[::-1]

In [22]:
totala.head()

,Unnamed: 0,links_Appartment_url,links_Appartment_Name,links_Appartment_Address,links_Appartment_Boligtype,links_Appartment_Rooms,links_Appartment_Floor,links_Appartment_Furnished,links_Appartment_Shareable,links_Appartment_Pets_allowed,...,short_adress,latitude,longitude,distance to CBS,Bedrooms,links_rent_aconto_monthly,Price_per_bedroom,Price_score,CBS_distance_score,links_Appartment_sqm
0,0,https://www.boligportal.dk/lejebolig/dp/1-vaer...,1 værelses lejlighed på 27,"Holger Danskes Vej, 2000 Frederiksberg - 3. sal",Lejlighed,1,3. sal,Nej,Nej,Nej,...,"Holger Danskes Vej, 2000 Frederiksberg",55.688265,12.530505,0.865623,1,8200,8200,0,5,27
1,1,https://www.boligportal.dk/lejebolig/dp/vaerel...,Værelse på 10,"Østerbrogade, 2100 København Ø - 3. sal",Værelse,1,3. sal,Ja,Nej,Nej,...,"Østerbrogade, 2100 København Ø",55.708337,12.576770,4.482240,1,4500,4500,3,2,10
2,2,https://www.boligportal.dk/lejebolig/dp/3-vaer...,3 værelses lejlighed på 90,"Havneholmen, 1561 København V - 1. sal",Lejlighed,3,1. sal,Nej,Ja,Nej,...,"Havneholmen, 1561 København V",55.660504,12.562178,3.376832,2,15700,7850,0,2,90
3,3,https://www.boligportal.dk/lejebolig/dp/4-vaer...,4 værelses lejlighed på 101,"Krimsvej, 2300 København S - 18. sal",Lejlighed,4,18. sal,Nej,Ja,Nej,...,"Krimsvej, 2300 København S",55.658039,12.631069,7.254746,3,18200,6066,1,1,101
4,4,https://www.boligportal.dk/lejebolig/dp/vaerel...,Værelse på 32,"Tomsgårdsvej, 2400 København NV - 5. sal",Værelse,1,5. sal,Nej,Nej,Nej,...,"Tomsgårdsvej, 2400 København",55.708981,12.525909,3.056832,1,6000,6000,1,2,32

In [23]:
combined = total.append(totala)

In [24]:
combined.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2188 entries, 0 to 542
Data columns (total 31 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Unnamed: 0                        2188 non-null   int64
 1   links_Appartment_url              2188 non-null   object
 2   links_Appartment_Name             2188 non-null   object
 3   links_Appartment_Address          2188 non-null   object
 4   links_Appartment_Boligtype        2188 non-null   object
 5   links_Appartment_Rooms            2188 non-null   int64
 6   links_Appartment_Floor            2188 non-null   object
 7   links_Appartment_Furnished        2188 non-null   object
 8   links_Appartment_Shareable        2188 non-null   object
 9   links_Appartment_Pets_allowed     2188 non-null   object
 10  links_Appartment_Rent_period      2188 non-null   object
 11  links_Appartment_Take_over_date   2188 non-null   object
 12  links_Appartment_Rent_monthly     2188 non-null   int64
 13  links_Appartment_Deposit          2188 non-null   object
 14  links_Appartment_Occupancy_price  2188 non-null   object
 15  links_Appartment_Aconto           2188 non-null   float64
 16  links_Appartment_First_rent       2188 non-null   object
 17  links_Appartment_Description      2188 non-null   object
 18  links_Appartment_sqm              2188 non-null   object
 19  links_rent_aconto_monthly         2188 non-null   float64
 20  latitude                          2188 non-null   float64
 21  longitude                         2188 non-null   float64
 22  distance to CBS                   2188 non-null   float64
 23  links_image1_url                  2188 non-null   object
 24  links_image2_url                  2188 non-null   object
 25  links_image3_url                  2188 non-null   object
 26  Bedrooms                          2188 non-null   int64
 27  Price_per_bedroom                 2188 non-null   int64
 28  Price_score                       2188 non-null   int64
 29  CBS_distance_score                2188 non-null   int64
 30  short_adress                      2188 non-null   object
dtypes: float64(5), int64(7), object(19)
memory usage: 547.0+ KB

In [ ]:
#Delete the 'unnamed' column
df = df.loc[:, ~df.columns.str.contains('^Unnamed')]

In [27]:
#convert to CSV
combined.to_csv(r'C:\Users\jskif\OneDrive\Documents\CBS\TechLabs\Re-valuation-modelling\Combined_cleaned_plus_500_new_entries.csv', index = False)

# Combine cleaned data without elimination (2187) with new ~500 entries

In [28]:
total_non_el = pd.read_csv("data_11_11.csv")

In [29]:
total_non_el.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2187 entries, 0 to 2186
Data columns (total 30 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Unnamed: 0                        2187 non-null   int64
 1   links_Appartment_url              2187 non-null   object
 2   links_Appartment_Name             2187 non-null   object
 3   links_Appartment_Address          2187 non-null   object
 4   links_Appartment_Boligtype        2187 non-null   object
 5   links_Appartment_Rooms            2187 non-null   int64
 6   links_Appartment_Floor            2187 non-null   object
 7   links_Appartment_Furnished        2187 non-null   object
 8   links_Appartment_Shareable        2187 non-null   object
 9   links_Appartment_Pets_allowed     2187 non-null   object
 10  links_Appartment_Rent_period      2187 non-null   object
 11  links_Appartment_Take_over_date   2187 non-null   object
 12  links_Appartment_Rent_monthly     2187 non-null   int64
 13  links_Appartment_Deposit          2187 non-null   object
 14  links_Appartment_Occupancy_price  2187 non-null   object
 15  links_Appartment_Aconto           2187 non-null   float64
 16  links_Appartment_First_rent       2187 non-null   object
 17  links_Appartment_Description      2187 non-null   object
 18  links_Appartment_sqm              2187 non-null   int64
 19  links_rent_aconto_monthly         2187 non-null   float64
 20  latitude                          2187 non-null   float64
 21  longitude                         2187 non-null   float64
 22  distance to CBS                   2187 non-null   float64
 23  links_image1_url                  2187 non-null   object
 24  links_image2_url                  2187 non-null   object
 25  links_image3_url                  2187 non-null   object
 26  Bedrooms                          2187 non-null   int64
 27  Price_per_bedroom                 2187 non-null   int64
 28  Price_score                       2187 non-null   int64
 29  CBS_distance_score                2187 non-null   int64
dtypes: float64(5), int64(8), object(17)
memory usage: 512.7+ KB

In [30]:
total_non_el.head()

,Unnamed: 0,links_Appartment_url,links_Appartment_Name,links_Appartment_Address,links_Appartment_Boligtype,links_Appartment_Rooms,links_Appartment_Floor,links_Appartment_Furnished,links_Appartment_Shareable,links_Appartment_Pets_allowed,...,latitude,longitude,distance to CBS,links_image1_url,links_image2_url,links_image3_url,Bedrooms,Price_per_bedroom,Price_score,CBS_distance_score
0,0,https://www.boligportal.dk/lejebolig/dp/4-vaer...,4 værelses lejlighed på 126,"Nordre Frihavnsgade, 2100 København Ø - 3. sal",Lejlighed,4,3. sal,Nej,Nej,Nej,...,55.700814,12.579806,4.136997,https://images-cdn.boligportal.dk/prod/public/...,https://images-cdn.boligportal.dk/prod/public/...,https://images-cdn.boligportal.dk/prod/public/...,3,5966,2,2
1,1,https://www.boligportal.dk/lejebolig/dp/4-vaer...,5 værelses lejlighed på 108,"Richard Mortensens Vej, 2300 København S - 4. sal",Lejlighed,5,4. sal,Nej,Nej,Ja,...,55.618153,12.570764,7.659486,https://images-cdn.boligportal.dk/prod/public/...,https://images-cdn.boligportal.dk/prod/public/...,https://images-cdn.boligportal.dk/prod/public/...,3,5766,2,1
2,2,https://www.boligportal.dk/lejebolig/dp/4-vaer...,4 værelses lejlighed på 152,"Ved Stigbordene, 2450 København SV - 6. sal",Lejlighed,4,6. sal,Nej,Nej,Nej,...,55.644658,12.546846,4.362046,https://images-cdn.boligportal.dk/prod/public/...,https://images-cdn.boligportal.dk/prod/public/...,https://images-cdn.boligportal.dk/prod/public/...,3,8865,0,2
3,3,https://www.boligportal.dk/lejebolig/dp/4-vaer...,4 værelses lejlighed på 113,"Lone Kellermanns Vej, 2450 København SV - 3. sal",Lejlighed,4,3. sal,Nej,Nej,Ja,...,55.645182,12.547530,4.321976,https://images-cdn.boligportal.dk/prod/public/...,https://images-cdn.boligportal.dk/prod/public/...,https://images-cdn.boligportal.dk/prod/public/...,3,5391,2,2
4,4,https://www.boligportal.dk/lejebolig/dp/4-vaer...,4 værelses lejlighed på 118,"Ved Stigbordene, 2450 København SV - 4. sal",Lejlighed,4,4. sal,Nej,Nej,Nej,...,55.644658,12.546846,4.362046,https://images-cdn.boligportal.dk/prod/public/...,https://images-cdn.boligportal.dk/prod/public/...,https://images-cdn.boligportal.dk/prod/public/...,3,6076,1,2

In [31]:
total_non_el['short_adress'] = total_non_el.links_Appartment_Address.str.split('-').str[0]

In [32]:
combined_without_el = total_non_el.append(totala)

In [ ]:
#Delete the 'unnamed' column
df = df.loc[:, ~df.columns.str.contains('^Unnamed')]

In [33]:
combined_without_el.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2730 entries, 0 to 542
Data columns (total 31 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Unnamed: 0                        2730 non-null   int64
 1   links_Appartment_url              2730 non-null   object
 2   links_Appartment_Name             2730 non-null   object
 3   links_Appartment_Address          2730 non-null   object
 4   links_Appartment_Boligtype        2730 non-null   object
 5   links_Appartment_Rooms            2730 non-null   int64
 6   links_Appartment_Floor            2730 non-null   object
 7   links_Appartment_Furnished        2730 non-null   object
 8   links_Appartment_Shareable        2730 non-null   object
 9   links_Appartment_Pets_allowed     2730 non-null   object
 10  links_Appartment_Rent_period      2730 non-null   object
 11  links_Appartment_Take_over_date   2730 non-null   object
 12  links_Appartment_Rent_monthly     2730 non-null   int64
 13  links_Appartment_Deposit          2730 non-null   object
 14  links_Appartment_Occupancy_price  2730 non-null   object
 15  links_Appartment_Aconto           2730 non-null   float64
 16  links_Appartment_First_rent       2730 non-null   object
 17  links_Appartment_Description      2730 non-null   object
 18  links_Appartment_sqm              2730 non-null   object
 19  links_rent_aconto_monthly         2730 non-null   float64
 20  latitude                          2730 non-null   float64
 21  longitude                         2730 non-null   float64
 22  distance to CBS                   2730 non-null   float64
 23  links_image1_url                  2730 non-null   object
 24  links_image2_url                  2730 non-null   object
 25  links_image3_url                  2730 non-null   object
 26  Bedrooms                          2730 non-null   int64
 27  Price_per_bedroom                 2730 non-null   int64
 28  Price_score                       2730 non-null   int64
 29  CBS_distance_score                2730 non-null   int64
 30  short_adress                      2730 non-null   object
dtypes: float64(5), int64(7), object(19)
memory usage: 682.5+ KB

In [38]:
combined_without_el.loc[combined_without_el.links_rent_aconto_monthly<100]

Empty DataFrame
Columns: [Unnamed: 0, links_Appartment_url, links_Appartment_Name, links_Appartment_Address, links_Appartment_Boligtype, links_Appartment_Rooms, links_Appartment_Floor, links_Appartment_Furnished, links_Appartment_Shareable, links_Appartment_Pets_allowed, links_Appartment_Rent_period, links_Appartment_Take_over_date, links_Appartment_Rent_monthly, links_Appartment_Deposit, links_Appartment_Occupancy_price, links_Appartment_Aconto, links_Appartment_First_rent, links_Appartment_Description, links_Appartment_sqm, links_rent_aconto_monthly, latitude, longitude, distance to CBS, links_image1_url, links_image2_url, links_image3_url, Bedrooms, Price_per_bedroom, Price_score, CBS_distance_score, short_adress]
Index: []

[0 rows x 31 columns]

In [34]:
#convert to CSV
combined_without_el.to_csv(r'C:\Users\jskif\OneDrive\Documents\CBS\TechLabs\Re-valuation-modelling\combined_with_el_plus_500_new_entries.csv', index = False)

# Cleaning code snippets

In [4]:
#EXTRACT SQM FROM APT NAME AND ASSIGN TO NEW COLUMN
#Remove m2 from links_Appartment_Name
total['links_Appartment_Name'] = total['links_Appartment_Name'].str.rstrip(' m²')

In [5]:
total['links_Appartment_Name'][2]

'Værelse på 13'

In [6]:
#extract sqm number as last number in string and assign to new column in DF

total['links_Appartment_sqm'] = total['links_Appartment_Name'].str[::-1].str.extract('(\d+)')
total['links_Appartment_sqm'] = total['links_Appartment_sqm'].str[::-1]

In [7]:
#test new column
total['links_Appartment_sqm'][1]

'108'

In [8]:
total['links_Appartment_sqm']

0       126
1       108
2        13
3        14
4       152
       ...
2956     88
2957     94
2958     97
2959      9
2960     10
Name: links_Appartment_sqm, Length: 2961, dtype: object

In [ ]:
#TOTAL - COMBINE RENT AND ACONTO

extension = 'csv'
all_filenames = [i for i in glob.glob('*.{}'.format(extension))]

combined_csv = pd.concat([pd.read_csv(f) for f in all_filenames])

combined_csv.to_csv("combined_csv2", index=False, encoding='utf-8-sig')

In [9]:
total2 = pd.read_csv("combined_csv2.csv")

FileNotFoundError: [Errno 2] File combined_csv2.csv does not exist: 'combined_csv2.csv'

In [10]:
# Remove duplicates
# use df.drop_duplicates(subset=['brand']) on specific column
total.drop_duplicates()

,links_Appartment_url,links_Appartment_Name,links_Appartment_Address,links_Appartment_Boligtype,links_Appartment_Rooms,links_Appartment_Floor,links_Appartment_Furnished,links_Appartment_Shareable,links_Appartment_Pets_allowed,links_Appartment_Rent_period,links_Appartment_Take_over_date,links_Appartment_Rent_monthly,links_Appartment_Deposit,links_Appartment_Occupancy_price,links_Appartment_Aconto,links_Appartment_First_rent,links_Appartment_Description,links_Appartment_sqm
0,https://www.boligportal.dk/lejebolig/dp/4-vaer...,4 værelses lejlighed på 126,"Nordre Frihavnsgade, 2100 København Ø - 3. sal",Lejlighed,4.0,3. sal,Nej,Nej,Nej,Ubegrænset,Snarest,"16.700,-","50.100,-","118.100,-","1.200,-","50.100,-",Skøn højloftet og lys lejlighed med 2 værelser...,126
1,https://www.boligportal.dk/lejebolig/dp/4-vaer...,5 værelses lejlighed på 108,"Richard Mortensens Vej, 2300 København S - 4. sal",Lejlighed,5.0,4. sal,Nej,Nej,Ja,Ubegrænset,01/01/2021,"15.900,-","47.700,-","80.900,-","1.400,-","15.900,-",Lejligheden\nLejligheden fremstår lys og rumme...,108
2,https://www.boligportal.dk/lejebolig/dp/vaerel...,Værelse på 13,"Amager Strandvej, 2300 København S - 4. sal",Værelse,1.0,4. sal,Nej,Nej,Ja,Ubegrænset,Snarest,"6.044,-","18.132,-","30.220,-","0,-","6.044,-",Hej!\nEr du vores nye roomie?\nVi har gaflet n...,13
3,https://www.boligportal.dk/lejebolig/dp/vaerel...,Værelse på 14,"Amager Strandvej, 2300 København S - 4. sal",Værelse,1.0,4. sal,Nej,Nej,Ja,Ubegrænset,Snarest,"6.359,-","19.077,-","31.795,-","0,-","6.359,-",Hej!\nEr du vores nye roomie?\nVi har gaflet n...,14
4,https://www.boligportal.dk/lejebolig/dp/4-vaer...,4 værelses lejlighed på 152,"Ved Stigbordene, 2450 København SV - 6. sal",Lejlighed,4.0,6. sal,Nej,Nej,Nej,Ubegrænset,31/01/2021,"24.950,-","68.700,-","118.196,-","1.646,-","22.900,-",Slusehuset er sidste etape af boliger med beli...,152
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2956,https://www.boligportal.dk/lejebolig/dp/3-vaer...,3 værelses lejlighed på 88,"Aberdeengade, 2150 Nordhavn - 2. sal",Lejlighed,3.0,2. sal,Nej,Nej,Nej,Ubegrænset,30/11/2020,"14.350,-","43.050,-","72.603,-","853,-","14.350,-",Lejlighed\nLejligheden er indrettet med lyse k...,88
2957,https://www.boligportal.dk/lejebolig/dp/3-vaer...,3 værelses lejlighed på 94,"Hannemanns Allé, 2300 København S - 6. sal",Lejlighed,3.0,6. sal,Nej,Ja,Ja,Ubegrænset,Snarest,"11.995,-","35.985,-","60.745,-","770,-","11.995,-","I Arenahaven er der 153 boliger, der er beligg...",94
2958,https://www.boligportal.dk/lejebolig/dp/4-vaer...,43 værelses lejlighed på 97,"Andrei Sakharovs Vej, 2450 København SV - 1. sal",Lejlighed,43.0,1. sal,Nej,Ja,Nej,2+ år,Snarest,"14.900,-","29.800,-","60.500,-","900,-","14.900,-","Helt ny 3 vær med hav udsigt fra alle vinduer,...",97
2959,https://www.boligportal.dk/lejebolig/dp/vaerel...,Værelse på 9,"Vestre Teglgade, 2450 København SV - 1. sal",Værelse,1.0,1. sal,Nej,Nej,Nej,Ubegrænset,01/01/2021,"5.000,-","15.000,-","25.980,-","980,-","5.000,-",Du har nu muligheden for at komme til at bo li...,9
2960,https://www.boligportal.dk/lejebolig/dp/vaerel...,Værelse på 10,"Nørrebrogade, 2200 København N - 2. sal",Værelse,1.0,2. sal,Nej,Nej,Nej,Ubegrænset,30/11/2020,"6.050,-","18.150,-","24.200,-","0,-","0,-",ROOMIE SØGES fra d. 30/11 til 72 kvm. lejlighe...,10

In [11]:
total['links_Appartment_Rent_monthly'] = total['links_Appartment_Rent_monthly'].str.replace('\.','')
total['links_Appartment_Rent_monthly'] = total['links_Appartment_Rent_monthly'].str.replace('\,-','')

In [12]:
total['links_Appartment_Rent_monthly'] = total['links_Appartment_Rent_monthly'].str.replace('\.','')

In [13]:
total['links_Appartment_Rent_monthly'] = total['links_Appartment_Rent_monthly'].str.replace('\,-','')

In [14]:
total['links_Appartment_Rent_monthly']

0       16700
1       15900
2        6044
3        6359
4       24950
        ...
2956    14350
2957    11995
2958    14900
2959     5000
2960     6050
Name: links_Appartment_Rent_monthly, Length: 2961, dtype: object

In [15]:
#strip aconto 
total['links_Appartment_Aconto'] = total['links_Appartment_Aconto'].str.replace('\.','')
total['links_Appartment_Aconto'] = total['links_Appartment_Aconto'].str.replace('\,-','')
total['links_Appartment_Aconto'] = total['links_Appartment_Aconto'].str.replace('\-','')

In [16]:
total['links_Appartment_Aconto'] = total['links_Appartment_Aconto'].str.replace('\.','')

In [17]:
total['links_Appartment_Aconto'] = total['links_Appartment_Aconto'].str.replace('\,-','')

In [18]:
total['links_Appartment_Aconto'] = total['links_Appartment_Aconto'].str.replace('\-','')

In [19]:
total['links_Appartment_Aconto']

0       1200
1       1400
2          0
3          0
4       1646
        ...
2956     853
2957     770
2958     900
2959     980
2960       0
Name: links_Appartment_Aconto, Length: 2961, dtype: object

In [20]:
#drop NaN values
total_nan_dropped = total[total['links_Appartment_Rent_monthly'].notna()]
total = total[pd.notnull(total['links_Appartment_Rent_monthly'])]
total = total[total.links_Appartment_Rent_monthly != 'nan']

In [ ]:
#convert column values to string
total['links_Appartment_Rent_monthly'] = total['links_Appartment_Rent_monthly'].astype(str)
total['links_Appartment_Aconto'] = total['links_Appartment_Aconto'].astype(str)

In [21]:
#convert column values to numeric
total['links_Appartment_Aconto'] = pd.to_numeric(total['links_Appartment_Aconto'])

In [22]:
total['links_Appartment_Rent_monthly'] = pd.to_numeric(total['links_Appartment_Rent_monthly'])
#convert column values to numeric

In [23]:
#create column from total of monthly rent and aconto
total['links_rent_aconto_monthly'] = total['links_Appartment_Rent_monthly'] + total['links_Appartment_Aconto']

In [24]:
total['links_rent_aconto_monthly']

0       17900.0
1       17300.0
2        6044.0
3        6359.0
4       26596.0
         ...
2956    15203.0
2957    12765.0
2958    15800.0
2959     5980.0
2960     6050.0
Name: links_rent_aconto_monthly, Length: 2900, dtype: float64

In [ ]:
total['links_rent_aconto_monthly'] = total['links_rent_aconto_monthly'].astype(int)

In [25]:
# FIND MEAN OF ACONTO % OF MONTHLY RENT FOR 0 VALUES OF ACONTO
total2 = total[total.links_Appartment_Aconto != 0]

In [ ]:
total2.info()

In [ ]:
# FIND MEAN OF ACONTO % OF MONTHLY RENT FOR 0 VALUES OF ACONTO
percentage = total2['links_Appartment_Aconto'] / total2['links_Appartment_Rent_monthly'] * 100

In [ ]:
#mean for adding to non-1-room apartments with no aconto in the DF
percentage.mean()

In [ ]:
percentage[124]

In [28]:
total2.to_csv(r'C:\Users\jskif\OneDrive\Documents\CBS\TechLabs\File Name.csv', index = False)

In [26]:
#Remove apartment story, e.g. 1st floor
total.links_Appartment_Address = total.links_Appartment_Address.str.split('-').str[0]

In [27]:
#test result
total['links_Appartment_Address']

0          Nordre Frihavnsgade, 2100 København Ø
1       Richard Mortensens Vej, 2300 København S
2             Amager Strandvej, 2300 København S
3             Amager Strandvej, 2300 København S
4             Ved Stigbordene, 2450 København SV
                          ...
2956                 Aberdeengade, 2150 Nordhavn
2957           Hannemanns Allé, 2300 København S
2958     Andrei Sakharovs Vej, 2450 København SV
2959          Vestre Teglgade, 2450 København SV
2960              Nørrebrogade, 2200 København N
Name: links_Appartment_Address, Length: 2900, dtype: object

In [ ]:
#Convert to string - choose from DF, not copy of slice
total['links_Appartment_Address'] = total['links_Appartment_Address'].astype(str)